.header {
    text-align: center;
}

.custom-btn-toolbar {
    display: inline !important;
}

.custom-btn-toolbar > .btn {
    margin-right: 1rem;
}

.board {
    width: 200px;
    height: 200px;
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 10px;

    .item {
        text-align: center;
        padding-top: 10px;
    }
}
