.header {
    text-align: center;
}

.custom-btn-toolbar {
    display: inline !important;
}

.custom-btn-toolbar > .btn {
    margin-right: 1rem;
}

.board {
    width: 200px;
    height: 200px;
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 10px;

    .item {
        text-align: center;
        padding-top: 10px;
        display: flex;
        align-items: stretch;

        .empty {
            background-color: lightgray;
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }
}

.game-list {
    padding-top: 20px;
}
